language: node_js
node_js:
  - "stable"
cache:
  directories:
    - node_modules
script:
  # - npm test
  - npm run build
# deploy:
#   provider: surge
#   skip_cleanup: true
#   domain: <my_name_here>.surge.sh
#   project: ./build/
after_script:
  - npm run coveralls
on:
  branch: master

  