@import url('https://fonts.googleapis.com/css?family=Pacifico|Sawarabi+Mincho');

html, body, #root, .cardRow{
    height:100%;


}

/* .cardRow{
    height: 120px;
    width: 600px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.card-container{
    perspective: 1000;
    margin: 10px;
    float: left;
    cursor: pointer;
}

.card-container .card {
    transition: 0.5s;
    transform-style: preserve-3d;
    position: relative;
}

.card:hover{
    transform: rotateY(180deg);
    transition: all 0.4s ease-in-out;
}
.card .front{
    backface-visibility: hidden;
    overflow: hidden;
    background-color: wheat;
    text-align: center;    
    margin-top:50%;
    

}
.card .back{
    transform: rotateY(180deg);
    backface-visibility: hidden;
    

} */


body {
    background: #e4e6e9;
  }
  .container {
    width: 35vh;
    height: 40vh;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .flip-container {
    perspective: 1000px;
    margin: 10px;
    float: left;
    cursor: pointer;
    box-shadow: 8px 8px 25px 0 rgba(46,61,73,.2);
    border-radius: .375rem;
  }
  .flip-container .flippable {
    transition: 0.5s;
    transform-style: preserve-3d;
    position: relative;
  }
  .flip-container:hover .flippable,
  .flip-container .hover .flippable {
    transform: rotateY(180deg);
    box-shadow: none;
    
  }
  .flip-container,
  .front,
  .back {
      position: relative;
    width:35vh;
    height: 40vh;
    text-align: center;
    font-size: 4vh;
    border-radius: 5px;
  }
  .front,
  .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    
  }
  .front {
    z-index: 2;
    color: white;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;

  }
  .front span {
    font-size: 4vh;
    position: absolute;
    top: -30px;
    left: 10px;
    font-family: verdana;
  }
  .back {
    font-size: 2vh;
    border: 1px solid;
    font-family: Verdana;
    color: white;
    z-index: 1000;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    
  }
  .zero .front {
    background: #000b29;
  }
  .zero .back {
    background: #d70026;
    border-color: #f8f5f2;
  }
  .one .front {
    background: #1189d1;
  }
  .one .back {
    background: #052c44;
    border-color: #86cbf5;
  }
  .two .front {
    background: #18b755;
  }
  .two .back {
    background: #063016;
    border-color: #7aeea7;
  }
  .three .front {
    background: #e9a7e6;
  }
  .three .back {
    background: #e03939;
    border-color: #e3a5e9;
  }
  .four .front {
    background: #f3b50b;
  }
  .four .back {
    background: #614804;
    border-color: #fbe19c;
  }
  .five .front {
    background: #2f3131;
  }
  .five .back {
    background: #426e86;
    border-color: #f8f1e5;
  }
  .six .front {
    background: #ddbc95;
  }
  .six .back {
    background: #b38867;
    border-color: #cdcdc0;
  }
  .seven .front {
    background: #283655;
  }
  .seven .back {
    background: #1e1f26;
    border-color: #4d648d;
  }
  .eight .front {
    background: #e2dfa2;
  }
  .eight .back {
    background: #ed5752;
    border-color: #a1be95;
  }
  .nine .front {
    background: #f9dc24;
  }
  .nine .back {
    background: #8eba43;
    border-color: #fbe19c;
  }
  .ten .front {
    background: #d8412f;
  }
  .ten .back {
    background: #f7cb3e;
    border-color: #000;
  }
  .eleven .front {
    background: #89da59;
  }
  .eleven .back {
    background: #80bd9e;
    border-color: #45b90f;
  }
  .twelve .front {
    background: #021C1E;
  }
  .twelve .back {
    background: #004445;
    border-color: #6f9b8f;
  }
  .thirteen .front {
    background: #375e97;
  }
  .thirteen .back {
    background: #fb6542;
    border-color: #ffbb00;
  }
  .fourteen .front {
    background: #98dbc6;
  }
  .fourteen .back {
    background: #5bc8ac;
    border-color: #6badc7;
  }
  .fifteen .front {
    background: #ec96a4;
  }
  .fifteen .back {
    background: #dfe166;
    border-color: #5d535e;
  }
  .sixteen .front {
    background: #f0810f;
  }
  .sixteen .back {
    background: #e6df44;
    border-color: #afa936;
  }
  .seventeen .front {
    background: #f52549;
  }
  .seventeen .back {
    background: #fa6775;
    border-color: #f13a4c;
  }
  .eighteen .front {
    background: #258039;
  }
  .eighteen .back {
    background: #f5be41;
    border-color: #9bc01c;
  }
  .nineteen .front {
    background: #cf3721;
  }
  .nineteen .back {
    background: #31a9b8;
    border-color: #f5be41;
  }
  .twenty .front {
    background: #f70025;
  }
  .twenty .back {
    background: #f7efe2;
    border-color: #f9a603;
  }
  


  
  .word {
    position: absolute;
    top: 50%; left: 50%;
    width: 100%;
    transform: translate(-50%,-50%);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
  }
  .meaning{
    position: absolute;
    top: 25%; left: 50%;
    width: 90%;
    font-family: 'Sawarabi Mincho', sans-serif;

    transform: translate(-50%,-25%);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
  }
  .example{
    position: absolute;
    width: 90%;
    
    top: 75%; left: 50%;
    transform: translate(-50%,-75%);
    font-family: 'Pacifico', cursive;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;

    
  }